<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Solar Panel Efficiency Simulator</title>
      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- LEAFLET IMPORTS -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>


    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styling.css') }}" />
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </head>

  <body>
    <header class="spaced">
      <h1 id="title">Greentech Map</h1>
      <nav>
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#map-section">Map</a></li>
          </ul>
      </nav>
  </header>
  
  <div class="twocol">
    <div class="mapMode">
      <div class="spaced">
        <h1 class="montserrat-heading">Map Mode</h1>
      </div>
      
      <div id="map"></div>
      <form action="" class="form spaced">
          <input type="text" id="latitude" placeholder="Latitude">
          <input type="text" id="longitude" placeholder="Longitude">
      </form>
    </div>
    <div class="rightCol">
      <div class="manualMode">
        <center><h1 class="montserrat-heading">Manual Mode</h1></center>
        <form action="" class="form">
            <input type="text" id="temperature" placeholder="Temperature (°C)">
            <input type="text" id="humidity" placeholder="Humidity (%)">
            <input type="text" id="wind-speed" placeholder="Wind Speed (m/s)">
            <input type="text" id="wind-direction" placeholder="Wind Direction (deg)">
        </form>
      </div>
      <div class="resultMode">
        <center>
          <h1 class="montserrat-heading">Result</h1>
          <h1 id="finalVal"></h1>
        </center>
        
      </div>
    </div>
  </div>
  
  </body>
  
</html>