<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WindMax</title>
      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- LEAFLET IMPORTS -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>


    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styling.css') }}" />
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </head>

  <body>
    <header class="spaced">
      <h1 id="title">WindMax</h1>
      <nav>
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#map-section">Map</a></li>
          </ul>
      </nav>
  </header>
  
  <div class="twocol">
    <div class="mapMode">
      <div class="spaced">
        <h1 class="montserrat-heading">Map Mode</h1>
        <h1 id="location"></h1>
      </div>
      
      <div id="map"></div>
      <form action="" class="form">
        <div class="latLong">
          <div class="fifty">
            <p>Latitude</p>
            <div class="inputBoxHoriz">
              <input type="number" id="latitude" placeholder="Latitude">
              <h4>°</h4>
            </div>
          </div>
          <div class="fifty">
            <p>Longitude</p>
            <div class="inputBoxHoriz">
              <input type="number" id="longitude" placeholder="Longitude">
              <h4>°</h4>
            </div>
          </div>
        </div>


      </form>
    </div>
    <div class="rightCol">
      <div class="manualMode">
        <center><h1 class="montserrat-heading">Real-Time Data</h1></center>
        <form action="" class="form">
          <div class="fourInput">
            <p>Temperature</p>
            <div class="inputBox">
              <input type="number" id="temperature" placeholder="Temperature (°F)">
              <h4>°F</h4>
            </div>
          </div>
          <div class="fourInput">
            <p>Humidity</p>
            <div class="inputBox">
              <input type="number" id="humidity" placeholder="Humidity (%)">
              <h4>%</h4>
            </div>
          </div>
          <div class="fourInput">
            <p>Wind Speed</p>
            <div class="inputBox">
              <input type="number" id="wind-speed" placeholder="Wind Speed (m/s)">
              <h5>m/s</h5>
            </div>
          </div>
          <div class="fourInput">
            <p>Wind Direction</p>
            <div class="inputBox">
              <input type="number" id="wind-direction" placeholder="Wind Direction (deg)">
              <h4>°</h4>
            </div>
          </div>
        </form>
      </div>
      <div class="resultMode">
        <center>
          <h1 class="montserrat-heading">Result</h1>
          <h1 id="finalVal"></h1>
        </center>
        
      </div>
    </div>
  </div>
  </body>
  <body>
    <h1>Monthly Historical Weather Data</h1>
    <img src="{{ url_for('plot_png') }}" alt="Weather Data Plot">
  </body>
</html>